<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container ">
    <a class="navbar-brand" href="#">AS Shops</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item mx-2" *ngFor=" let menu of menulist">
          <a class="nav-link active" aria-current="page" href="#">{{menu}}</a>
        </li>
      </ul>
      <app-header-right></app-header-right>

    </div>
  </div>
</nav>