<!-- <div class="filter">
    <h5>Filter:</h5>
    <div class="form-check form-switch">
        <input class="form-check-input" name="filter" type="radio" value="all" [(ngModel)]="checkedboxbtn"
            (change)="oncheckedboxbtnChanged()">
        <label class="form-check-label" for="flexSwitchCheckChecked">{{'All ('+all+')'}}</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" name="filter" type="radio" value="true" [(ngModel)]="checkedboxbtn"
            (change)="oncheckedboxbtnChanged()">
        <label class="form-check-label" for="flexSwitchCheckChecked">{{'InStock ('+inStock+')'}}</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" name="filter" type="radio" value="false" [(ngModel)]="checkedboxbtn"
            (change)="oncheckedboxbtnChanged()">
        <label class="form-check-label" for="flexSwitchCheckChecked">{{'Out Of Stock ('+outOfStock+')'}}</label>
    </div>
</div> -->
<h5>Filter:</h5>
<div class="btn-group">
    <input type="radio" class="btn-check" name="filter" id="option1" value="all" [(ngModel)]="checkedboxbtn"   (change)="oncheckedboxbtnChanged() "/>
    <label class="btn btn-secondary" for="option1">{{'All ('+all+')'}}</label>
  
    <input type="radio" class="btn-check" name="filter" id="option2" value="true" [(ngModel)]="checkedboxbtn"  (change)="oncheckedboxbtnChanged()" />
    <label class="btn btn-secondary" for="option2">{{'InStock ('+inStock+')'}}</label>
  
    <input type="radio" class="btn-check" name="filter" id="option3" value="false" [(ngModel)]="checkedboxbtn"   (change)="oncheckedboxbtnChanged()" />
    <label class="btn btn-secondary" for="option3">{{'Out Of Stock ('+outOfStock+')'}}</label>
  </div>