<div class="filter">
    <h5>Filter:</h5>
    <div class="form-check form-switch">
        <input class="form-check-input" name="filter" type="checkbox" value="All"  >
        <label class="form-check-label" for="flexSwitchCheckChecked">{{'All ('+all+')'}}</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="filter" type="checkbox" value="true"  >
        <label class="form-check-label" for="flexSwitchCheckChecked">{{'InStock ('+inStock+')'}}</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="filter" type="checkbox" value="false"  >
        <label class="form-check-label" for="flexSwitchCheckChecked">{{'Out Of Stock ('+outOfStock+')'}}</label>
      </div>
</div>