<app-filter 
[all]="totalproductcount" 
[inStock]="productstock" 
[outOfStock]="productoutstock"
(checkedboxbtnChanged)="onFilterchanged($event)"
></app-filter>
<div class="d-flex flex-wrap justify-content-center container mt-5">
      <!-- *ngIf="selectedFilterRadioButton === 'all' || pro.is_in_inventory.toString() === selectedFilterRadioButton" -->
      <div *ngFor="let pro of products" (click)="selectedProduct = pro">
            <app-product  [product]="pro" *ngIf="searchText=== '' || pro.name.toLowerCase().includes(searchText)"></app-product>

      </div>
</div>