<div class="container mt-5 p-3 ">
  <app-search></app-search>
  <app-productlist></app-productlist>
</div>

<!-- <img [src]="product.pimage"  height="250" width="200" class="card-img-top" alt="...">Property Binding Syntax -->
<!-- <div class="card-body">
      <h5 class="card-title"> {{ product.pname }}</h5>  String Binding Syntax 
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">${{ product.price }}</li>
      <li class="list-group-item">{{ getDiscountPrice() }}</li>
      <li class="list-group-item">Stock :{{product.stock > 1 ? " Only " + product.stock + " item left ": " Not in stock " }}</li>
    </ul>
    <div class="card-body">
        <button class="btn btn-outline-secondary" (click)="decressCartValue()">-</button>
        <span >{{  addToCart  }}</span>
        <button class="btn btn-outline-secondary"  (click)="increaseCartValue()">+</button> -->




<!-- <button class="btn btn-primary" [disabled] = "!(product.stock > 1 )">Buy Now</button> 
        <Input  (input)="onNameChange($event)" aria-hidden="" > Event binding min this is (Input)
            <p>Posted = {{Posted}}</p> -->
<!-- if stock is less than  1 then disable the button (we cannot bind attribute []) -->
<!-- For Hidden  , Disable , Checked  we need to use this formula [value]="Posted", [disabled] = "!(product.stock > 1 )-->