<div class="container mt-5 p-3 ">
<app-search></app-search>
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
          <div class="card">
            <div class="d-flex justify-content-between p-3">
              <p class="lead mb-0">Today's Combo Offer</p>
              <div
                class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                style="width: 35px; height: 35px;">
                <p class="text-white mb-0 small">x4</p>
              </div>
            </div>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/4.webp"
              class="card-img-top" alt="Laptop" />
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="small"><a href="#!" class="text-muted">Laptops</a></p>
                <p class="small text-danger"><s>$1099</s></p>
              </div>
  
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">HP Notebook</h5>
                <h5 class="text-dark mb-0">$999</h5>
              </div>
  
              <div class="d-flex justify-content-between mb-2">
                <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                <div class="ms-auto text-warning">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        </div></div></section>
</div>

    <!-- <img [src]="product.pimage"  height="250" width="200" class="card-img-top" alt="...">Property Binding Syntax -->
    <!-- <div class="card-body">
      <h5 class="card-title"> {{ product.pname }}</h5>  String Binding Syntax 
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">${{ product.price }}</li>
      <li class="list-group-item">{{ getDiscountPrice() }}</li>
      <li class="list-group-item">Stock :{{product.stock > 1 ? " Only " + product.stock + " item left ": " Not in stock " }}</li>
    </ul>
    <div class="card-body">
        <button class="btn btn-outline-secondary" (click)="decressCartValue()">-</button>
        <span >{{  addToCart  }}</span>
        <button class="btn btn-outline-secondary"  (click)="increaseCartValue()">+</button> -->

      

   
  <!-- <button class="btn btn-primary" [disabled] = "!(product.stock > 1 )">Buy Now</button> 
        <Input  (input)="onNameChange($event)" aria-hidden="" > Event binding min this is (Input)
            <p>Posted = {{Posted}}</p> -->
  <!-- if stock is less than  1 then disable the button (we cannot bind attribute []) -->
<!-- For Hidden  , Disable , Checked  we need to use this formula [value]="Posted", [disabled] = "!(product.stock > 1 )-->
